@model IEnumerable<Sched.Models.Domain.Room>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1>Rooms</h1>

      
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-success text-light btn-sm" asp-action="Edit" asp-route-id="@item.RoomId"><i class="fa-solid fa-pen"></i>  Edit</a> |
                            <a class="btn btn-info text-light btn-sm" asp-action="Details" asp-route-id="@item.RoomId"><i class="fa-solid fa-file"></i> Details</a> |
                            <a class="btn btn-danger text-light btn-sm" asp-action="Delete" asp-route-id="@item.RoomId"><i class="fa-solid fa-file-circle-xmark"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a class="btn btn-outline-primary btn-lg" asp-action="Create">Add Rooms</a>
        </p>

    </div>
</div>
