@model IEnumerable<Sched.Models.Domain.Room>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1>Rooms</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <form method="get" action="@Url.Action("Index", "Rooms")">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchString" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.RoomId).Take(5))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.RoomId">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal-@item.RoomId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Choose to...</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-footer">
                                            <a class="btn btn-success text-light btn-sm  d-sm-inline-block" asp-action="Edit" asp-route-id="@item.RoomId"><i class="fa-solid fa-pen "></i> Edit</a> |
                                            <a class="btn btn-info text-light btn-sm  d-sm-inline-block" asp-action="Details" asp-route-id="@item.RoomId"><i class="fa-solid fa-file "></i> Details</a> |
                                            <a class="btn btn-danger text-light btn-sm  d-sm-inline-block" asp-action="Delete" asp-route-id="@item.RoomId"><i class="fa-solid fa-file-circle-xmark "></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a class="btn btn-outline-primary btn-lg" asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i> Add Rooms</a>
        </p>

    </div>
</div>
